{% extends 'base.html' %}

{% block body %}

<figure style="text-align: center; padding-top: 12px;">
	<blockquote class="blockquote">
	<p class="lead text">{{ ran_quote[0] }}</p>
	</blockquote>
	<figcaption class="blockquote-footer text">
	    <cite title="Source Title">{{ ran_quote[1] }}</cite>
	</figcaption>
</figure>

<form action="/msg/{{ hash }}" method="POST" style="padding: 3%;">
	<div class="mb-3">
	  	<label for="PasswordInput" class="form-label lead text">Enter Password : Hope You Remember 😉</label>
	  	<input type="text" name="password_check" id="password_check" required class="form-control" id="PasswordInput" placeholder="Enter Your Password">
	</div>
	<p class="text" style="text-align: center;">Powered By &copyNoobShare</p>
</form>

{% endblock %}